# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = df['date'].astype('datetime64[ns]')

In [4]:
# Set the date column as the DataFrame index
# Drop the date column
df.set_index('date', inplace=True, drop=True)
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [5]:
from scipy import stats

In [11]:
# Filter data for desired months
df_jun = df[df.index.month==6]
df_dec = df[df.index.month==12]

In [7]:
# Identify the average temperature for June
jun_avg_temp = round(df_jun['tobs'].mean(), 2)

print(f'The average temperature in Hawaii in June is {jun_avg_temp}F.')

The average temperature in Hawaii in June is 74.94F.

In [8]:
# Identify the average temperature for December
dec_avg_temp = round(df_dec['tobs'].mean(), 2)

print(f'The average temperature in Hawaii in December is {dec_avg_temp}F.')

The average temperature in Hawaii in December is 71.04F.

In [16]:
# Create collections of temperature data
df_match = pd.merge(df_jun, df_dec, how='inner', left_on= ['station', df_jun.index.strftime('%Y-%d')], right_on= ['station', df_dec.index.strftime('%Y-%d')], suffixes=('_j','_d'))

df_match

jun_temps = df_match['tobs_j']
dec_temps = df_match['tobs_d']

In [17]:
# Run paired t-test
stats.ttest_rel(jun_temps,dec_temps)

Ttest_relResult(statistic=30.49176210879506, pvalue=5.706809811298657e-156)

### Analysis

A paired t-test was used to compare temperatures taken at stations on Hawaii on respective days of the month in Jun and Dec. According to this anaylsis, while the difference in average temperature between Jun and Dec was only 3.9 degrees F, the sets of temperatures measured during Jun and Dec over the years were dissimilar.